@CHARSET "UTF-8";

.ui-widget,.ui-widget .ui-widget {
	font-size: 90% !important;
}

.north {
	position: relative;
	top: 0px;
	width: 100%;
	height: 80px;
}

.content {
	margin: 0 auto;
	width: 300px;
	height: 100%;
	overflow: hidden;
	background-color: #f7f7f7;
	margin-top: 200px;
}

.east {
	width: 200px;
	height: auto;
	float: right;
	overflow: hidden;
	margin: 0;
	background-color: #f7f7f7;
}

.west {
	width: 200px;
	height: auto;
	float: left;
	overflow: hidden;
	margin: 0;
	background-color: #f7f7f7;
}

.south {
	width: 100%;
	height: 30px;
}

.languageForm {
	float: right;
	overflow: hidden;
	margin: 0;
}

.languagePanelGrid tr {
	border: none !important;
}

.languagePanelGrid td {
	border: none !important;
	padding: 0px 10px !important;
}

.loginForm {
	float: right;
	margin: 0;
}

.loginPanelGrid tr {
	border: none !important;
}

.loginPanelGrid td {
	border: none !important;
	padding: 0px 10px !important;
}

.headerContent {
	width: 980px !important;
	height: 76px !important;
	display: block !important;
	margin: 0 auto !important;
	position: absolute !important;
}

.mainContent {
	width: 980px !important;
	height: auto !important;
	display: block !important;
	margin: 0 auto !important;
	margin-top: 87px !important;
}

.ui-carousel-viewport {
	overflow: hidden;
	position: relative;
	border: 0;
	height: 300px !important;
	width: 100% !important;
}

.ui-carousel {
	width: 100% !important;
	background: transparent;
	border: none;
	padding: 0 !important;
}

.ui-carousel-header {
	background: transparent;
	border: none;
	position: absolute;
	padding-top: 7px !important;
	padding-bottom: 8px !important;
	padding-right: 10px !important;
	padding-left: 830px !important;
	z-index: 1;
}

#image {
	width: 100% !important;
	height: 100% !important;
}