*.class

# Package Files #
*.jar
*.war
*.ear

target/*
target/m2e-wtp/web-resources/META-INF/maven/pl.radek/radek_webapp/pom.properties
/target

target/m2e-wtp/web-resources/META-INF/maven/pl.radek/radek_webapp/pom.properties
